.form-container {
    margin-left: 20%;
    margin-top: 50px;
    display: block;
}
form {
    text-align:left;
}
.header{
    text-align: center;
}

.form-container select {
    width: 175px;
    height: 30px;
}

.form-container input {
    margin-left: 15px;
}

.form-container label {
    padding-right: 20px;
}