
.home-scroll {
    overflow-y: scroll;
    height: 80%;
    
}


.list-header {
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    font-weight: 400;
    text-decoration: underline;
}

.all-blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    
}

.card {
    margin-left:5%;
    margin-bottom: .5rem; 
    border: 1px solid salmon;

}


.card-title {
    border-bottom: 1px solid black;
}

h5 span {
    color: lightsalmon;
}

.btn {
    border: 1px solid black;
    border-radius: 7px;
    background-color:lightsalmon;
    width: 75px;
}

.links a .btn:hover {
    color: white;
    border: 5px solid black;
}